<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.t0724.mapper.UserInfoMapper">
    <resultMap id="userInfoMap" type="com.bdqn.t0724.model.UserInfo">
        <id property="id" column="id"/>
        <result property="incomeGradeId" column="incomeGrade_id"/>
        <result property="marriageId" column="marriage_id"/>
        <result property="kidCountId" column="kidCount_id"/>
        <result property="houseConditionId" column="houseCondition_id"/>
        <result property="educationBackgroundId" column="educationBackground_id"/>
    </resultMap>

    <select id="userInfoList" resultMap="userInfoMap">
        select *from userinfo;
    </select>
</mapper>