footer{
    position: relative;
    bottom: 0px;
    left: 0px;
    margin-top: 400px;
    height: 250px;
    width: 100%;
    background: black;
}

#footer-font{
    position: relative;
    /*top: 70px;*/
    bottom: 0px;
    left: 220px;
    width: 500px;
    color: white;
    float: bottom;
    display: inline-list-item;
}
.color{
    color: white;
}
#footer-font>table{
    font-size: 14px;
    line-height: 35px;
    color: white;
    position: absolute;
    top: 55px;
}
#sina{
    position: relative;
    top: 110px;
    left: 720px;
    width: 290px;
    background: white;
}
