header>div#top2>table>tbody>tr>td{
    margin-top: 0px;
}
header>div#top2>table>tbody>tr>td>h4{
    margin-top: 5px;
}
header>div#top2>table>tbody>tr>td>h4>a{
    margin-left: 10px;
    color: black;
}

td#guide{
    background: rgba(0,0,0,0.25);
}
section{
    position: relative;
    top: 140px;
    left: 140px;
    width: 1000px;
}

section>ul.nav.nav-tabs{
    font: 24px bold;
}

section>ul.nav.nav-tabs>li>a{
    text-align: center;
    color: black;
    width: 160px;
}
h4.panel-title{
    padding: unset;
    background: white;
}
a.collapsed{
    font-size: 24px;
}

div.panel-body{
    font-size: 18px;
    line-height: 50px;
    color: black;
}

div.panel-body:hover{
    text-decoration: none;
}

div.panel.panel-default{
    margin-top: 10px;
}
a.collapsed:hover{
    color: black;
}
