body{
    position: relative;
    margin: 0px;
}
header{
    position: relative;
    height: 110px;
}
/*header>div#top2>table>tbody>tr>td{*/
    /*border: skyblue solid 2px;*/
    /*width: 100px;*/
   /**/

/*}*/
header>div#top2>table>tbody>tr>td>h4>a{
    position: relative;
    top: -5px;
    color: black;
}

#home-page{
    padding-left: 35px;
    width:130px;
    background: rgba(0,0,0,0.16);
}
section{
    position: relative;
    top: 40px;
    width: 100%;
    float: top;
}
#picture{
    position: relative;
    width: 100%;
    height: 280px;
    float: top;
}
#action{
    position: relative;
    top: 30px;
    float: top;
}
.action-div{
    position: relative;
    left:100px;
    width: 370px;
    float: left;
    margin-left: 10px;
}
.action-img{
    position: relative;
    top: 45px;
    float: left;
}
div.action-div>span{
    position: relative;
    top: 45px;
    left: 5px;
    font-size: 18px;
    font-weight: bold;
}

div>p{
    position: relative;
    top: 45px;
    left: 5px;
    color: rgba(0,0,0,0.35);
    font-size: 14px;
}

#borrow-ing{
    float: top;
    position: relative;
    top: 140px;
    width: 1150px;
}

div>h2{
    margin: unset;
    color: rgba(7,30,152,0.57);
    border-bottom: solid 3px rgba(7,30,152,0.57);
    float: left;
}
div.container>span{
    float: right;
}

div#borrow-ing>table.table.table-striped>tbody>tr{
    height: 50px;
    color: rgba(0,0,0,0.57);
    border-bottom: solid 2px rgba(0,0,0,0.57);
}
div#borrow-ing>table.table.table-striped>tbody>tr>th{
    position: relative;
    top: 15px;
}
div#borrow-ing>table.table.table-striped>tbody>tr>td>button{
    width: 70px;
    height: 35px;
    border-radius: 5px;
    background: red;
    color: white;
}

#news{
    float: top;
    position: relative;
    top: 220px;
}
#news>ul{
    position: relative;
    top: 36px;
}
.news-right{
    float: right;
}
.news-left{
    float: left;
}
.news-href:hover{
    color: rgba(7,30,152,0.57);
}

