body{
    position: relative;
    margin: 0px;
}
header{
    position: relative;
    height: 120px;
}
header>div#top2 > table > tbody > tr > td > h4{
    position: absolute;
    top: 32px;
}
header>div#top2>table{
    position: relative;
    top: -2px;
}
header>div#top2>table>tbody>tr>td>h4>a{
    position: relative;
    left: 2px;
    color: black;
}
#loan{
    background: rgba(0,0,0,0.16);
    height: 80px;
}
section{
    position: relative;
    width: 100%;
}
.box{
    position: relative;
    top: 50px;
    width: 350px;
    height: 390px;
    background: rgba(0,0,0,0.02);
    display: inline-table;
    margin-left: 3%;
}
.box>.tap>p{
    position: relative;
    top: 5px;
    font-size: 26px;
    font-weight: normal;
    margin: 0px;
    color: white;
}
.box>h3{
    position: relative;
    left: 10px;
    font-weight: normal;
}
.box>a{
    position: relative;
    left: 10px;
    text-decoration: none;
    color: rgba(29,18,203,0.87);
}
.box>p{
    position: relative;
    left: 10px;
    font-size: 16px;
    color: grey;
}
.tap{
    position: relative;
    height: 50px;
    width: 100%;
}
ul{
    position: relative;
    left: 10px;
    list-style-image: url("/static/images/sequare.png");
}
.button-box{
    position: absolute;
    top: 340px;
}
.button{
    position: relative;
    left: 120px;
    height: 30px;
    width: 100px;
    color: white;
    border: solid 2px skyblue;
    font-size: 14px;
    border-radius: 10px;
    background: rgba(34,176,255,0.87);
}
#tap1{
    background: rgba(81,249,89,0.68);
}
#tap2{
    background: rgba(255,164,17,0.51)
}
#tap3{
    background: cornflowerblue;
}

#box1{
    position: relative;
    left: 100px;
}
#box2{
    position: relative;
    left: 140px;
}
#box3{
    position: relative;
    left: 180px;
}