<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.t0724.mapper.BidRequestMapper">
  <resultMap id="BaseResultMap" type="com.bdqn.t0724.model.BidRequest">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="returnType" jdbcType="INTEGER" property="returntype" />
    <result column="bidRequestType" jdbcType="TINYINT" property="bidrequesttype" />
    <result column="bidRequestState" jdbcType="TINYINT" property="bidrequeststate" />
    <result column="bidRequestAmount" jdbcType="DECIMAL" property="bidrequestamount" />
    <result column="currentRate" jdbcType="DECIMAL" property="currentrate" />
    <result column="monthes2Return" jdbcType="TINYINT" property="monthes2return" />
    <result column="bidCount" jdbcType="INTEGER" property="bidcount" />
    <result column="totalRewardAmount" jdbcType="DECIMAL" property="totalrewardamount" />
    <result column="currentSum" jdbcType="DECIMAL" property="currentsum" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="disableDate" jdbcType="TIMESTAMP" property="disabledate" />
    <result column="createuser_id" jdbcType="BIGINT" property="createuserId" />
    <result column="disableDays" jdbcType="TINYINT" property="disabledays" />
    <result column="minBidAmount" jdbcType="DECIMAL" property="minbidamount" />
    <result column="applyTime" jdbcType="TIMESTAMP" property="applytime" />
    <result column="publishTime" jdbcType="TIMESTAMP" property="publishtime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bidrequest
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bdqn.t0724.model.BidRequest">
    insert into bidrequest (id, version, returnType, 
      bidRequestType, bidRequestState, bidRequestAmount, 
      currentRate, monthes2Return, bidCount, 
      totalRewardAmount, currentSum, title, 
      description, note, disableDate, 
      createuser_id, disableDays, minBidAmount, 
      applyTime, publishTime)
    values (#{id,jdbcType=BIGINT}, #{version,jdbcType=INTEGER}, #{returntype,jdbcType=INTEGER}, 
      #{bidrequesttype,jdbcType=TINYINT}, #{bidrequeststate,jdbcType=TINYINT}, #{bidrequestamount,jdbcType=DECIMAL}, 
      #{currentrate,jdbcType=DECIMAL}, #{monthes2return,jdbcType=TINYINT}, #{bidcount,jdbcType=INTEGER}, 
      #{totalrewardamount,jdbcType=DECIMAL}, #{currentsum,jdbcType=DECIMAL}, #{title,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{disabledate,jdbcType=TIMESTAMP}, 
      #{createuserId,jdbcType=BIGINT}, #{disabledays,jdbcType=TINYINT}, #{minbidamount,jdbcType=DECIMAL}, 
      #{applytime,jdbcType=TIMESTAMP}, #{publishtime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bdqn.t0724.model.BidRequest">
    update bidrequest
    set version = #{version,jdbcType=INTEGER},
      returnType = #{returntype,jdbcType=INTEGER},
      bidRequestType = #{bidrequesttype,jdbcType=TINYINT},
      bidRequestState = #{bidrequeststate,jdbcType=TINYINT},
      bidRequestAmount = #{bidrequestamount,jdbcType=DECIMAL},
      currentRate = #{currentrate,jdbcType=DECIMAL},
      monthes2Return = #{monthes2return,jdbcType=TINYINT},
      bidCount = #{bidcount,jdbcType=INTEGER},
      totalRewardAmount = #{totalrewardamount,jdbcType=DECIMAL},
      currentSum = #{currentsum,jdbcType=DECIMAL},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      disableDate = #{disabledate,jdbcType=TIMESTAMP},
      createuser_id = #{createuserId,jdbcType=BIGINT},
      disableDays = #{disabledays,jdbcType=TINYINT},
      minBidAmount = #{minbidamount,jdbcType=DECIMAL},
      applyTime = #{applytime,jdbcType=TIMESTAMP},
      publishTime = #{publishtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, version, returnType, bidRequestType, bidRequestState, bidRequestAmount, 
    currentRate, monthes2Return, bidCount, totalRewardAmount, currentSum, title, description, 
    note, disableDate, createuser_id, disableDays, minBidAmount, applyTime, publishTime
    from bidrequest
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, version, returnType, bidRequestType, bidRequestState, bidRequestAmount, 
    currentRate, monthes2Return, bidCount, totalRewardAmount, currentSum, title, description, 
    note, disableDate, createuser_id, disableDays, minBidAmount, applyTime, publishTime
    from bidrequest
  </select>
</mapper>