<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.t0724.mapper.PaymentScheduleMapper">
  <resultMap id="BaseResultMap" type="com.bdqn.t0724.model.PaymentSchedule">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="deadLine" jdbcType="TIMESTAMP" property="deadline" />
    <result column="payDate" jdbcType="TIMESTAMP" property="paydate" />
    <result column="totalAmount" jdbcType="DECIMAL" property="totalamount" />
    <result column="principal" jdbcType="DECIMAL" property="principal" />
    <result column="interest" jdbcType="DECIMAL" property="interest" />
    <result column="monthIndex" jdbcType="DECIMAL" property="monthindex" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="bidRequestType" jdbcType="INTEGER" property="bidrequesttype" />
    <result column="returnType" jdbcType="INTEGER" property="returntype" />
    <result column="bidRequestTitle" jdbcType="VARCHAR" property="bidrequesttitle" />
    <result column="borrowUser_id" jdbcType="BIGINT" property="borrowuserId" />
    <result column="bidRequest_id" jdbcType="BIGINT" property="bidrequestId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from paymentschedule
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bdqn.t0724.model.PaymentSchedule">
    insert into paymentschedule (id, deadLine, payDate, 
      totalAmount, principal, interest, 
      monthIndex, state, bidRequestType, 
      returnType, bidRequestTitle, borrowUser_id, 
      bidRequest_id)
    values (#{id,jdbcType=BIGINT}, #{deadline,jdbcType=TIMESTAMP}, #{paydate,jdbcType=TIMESTAMP}, 
      #{totalamount,jdbcType=DECIMAL}, #{principal,jdbcType=DECIMAL}, #{interest,jdbcType=DECIMAL}, 
      #{monthindex,jdbcType=DECIMAL}, #{state,jdbcType=INTEGER}, #{bidrequesttype,jdbcType=INTEGER}, 
      #{returntype,jdbcType=INTEGER}, #{bidrequesttitle,jdbcType=VARCHAR}, #{borrowuserId,jdbcType=BIGINT}, 
      #{bidrequestId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bdqn.t0724.model.PaymentSchedule">
    update paymentschedule
    set deadLine = #{deadline,jdbcType=TIMESTAMP},
      payDate = #{paydate,jdbcType=TIMESTAMP},
      totalAmount = #{totalamount,jdbcType=DECIMAL},
      principal = #{principal,jdbcType=DECIMAL},
      interest = #{interest,jdbcType=DECIMAL},
      monthIndex = #{monthindex,jdbcType=DECIMAL},
      state = #{state,jdbcType=INTEGER},
      bidRequestType = #{bidrequesttype,jdbcType=INTEGER},
      returnType = #{returntype,jdbcType=INTEGER},
      bidRequestTitle = #{bidrequesttitle,jdbcType=VARCHAR},
      borrowUser_id = #{borrowuserId,jdbcType=BIGINT},
      bidRequest_id = #{bidrequestId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, deadLine, payDate, totalAmount, principal, interest, monthIndex, state, 
    bidRequestType, returnType, bidRequestTitle, borrowUser_id, bidRequest_id
    from paymentschedule
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, deadLine, payDate, totalAmount, principal, interest, monthIndex, state, 
    bidRequestType, returnType, bidRequestTitle, borrowUser_id, bidRequest_id
    from paymentschedule
  </select>
</mapper>