<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.t0724.mapper.RealAuthMapper">
  <resultMap id="BaseResultMap" type="com.bdqn.t0724.model.RealAuth">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="bornDate" jdbcType="VARCHAR" property="borndate" />
    <result column="idNumber" jdbcType="VARCHAR" property="idnumber" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="image1" jdbcType="VARCHAR" property="image1" />
    <result column="image2" jdbcType="VARCHAR" property="image2" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="auditTime" jdbcType="TIMESTAMP" property="audittime" />
    <result column="applyTime" jdbcType="TIMESTAMP" property="applytime" />
    <result column="auditor_id" jdbcType="BIGINT" property="auditorId" />
    <result column="applier_id" jdbcType="BIGINT" property="applierId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from realauth
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bdqn.t0724.model.RealAuth">
    insert into realauth (id, realname, sex, 
      bornDate, idNumber, address, 
      state, image1, image2, 
      remark, auditTime, applyTime, 
      auditor_id, applier_id)
    values (#{id,jdbcType=BIGINT}, #{realname,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, 
      #{borndate,jdbcType=VARCHAR}, #{idnumber,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{state,jdbcType=TINYINT}, #{image1,jdbcType=VARCHAR}, #{image2,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{audittime,jdbcType=TIMESTAMP}, #{applytime,jdbcType=TIMESTAMP}, 
      #{auditorId,jdbcType=BIGINT}, #{applierId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bdqn.t0724.model.RealAuth">
    update realauth
    set realname = #{realname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      bornDate = #{borndate,jdbcType=VARCHAR},
      idNumber = #{idnumber,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT},
      image1 = #{image1,jdbcType=VARCHAR},
      image2 = #{image2,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      auditTime = #{audittime,jdbcType=TIMESTAMP},
      applyTime = #{applytime,jdbcType=TIMESTAMP},
      auditor_id = #{auditorId,jdbcType=BIGINT},
      applier_id = #{applierId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, realname, sex, bornDate, idNumber, address, state, image1, image2, remark, 
    auditTime, applyTime, auditor_id, applier_id
    from realauth
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, realname, sex, bornDate, idNumber, address, state, image1, image2, remark, 
    auditTime, applyTime, auditor_id, applier_id
    from realauth
  </select>
</mapper>