<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.t0724.mapper.SystemAccountFlowMapper">
  <resultMap id="BaseResultMap" type="com.bdqn.t0724.model.SystemAccountFlow">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tradeTime" jdbcType="TIMESTAMP" property="tradetime" />
    <result column="actionType" jdbcType="TINYINT" property="actiontype" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="usableAmount" jdbcType="DECIMAL" property="usableamount" />
    <result column="freezedAmount" jdbcType="DECIMAL" property="freezedamount" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from systemaccountflow
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bdqn.t0724.model.SystemAccountFlow">
    insert into systemaccountflow (id, tradeTime, actionType, 
      amount, usableAmount, freezedAmount, 
      note)
    values (#{id,jdbcType=BIGINT}, #{tradetime,jdbcType=TIMESTAMP}, #{actiontype,jdbcType=TINYINT}, 
      #{amount,jdbcType=DECIMAL}, #{usableamount,jdbcType=DECIMAL}, #{freezedamount,jdbcType=DECIMAL}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bdqn.t0724.model.SystemAccountFlow">
    update systemaccountflow
    set tradeTime = #{tradetime,jdbcType=TIMESTAMP},
      actionType = #{actiontype,jdbcType=TINYINT},
      amount = #{amount,jdbcType=DECIMAL},
      usableAmount = #{usableamount,jdbcType=DECIMAL},
      freezedAmount = #{freezedamount,jdbcType=DECIMAL},
      note = #{note,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, tradeTime, actionType, amount, usableAmount, freezedAmount, note
    from systemaccountflow
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, tradeTime, actionType, amount, usableAmount, freezedAmount, note
    from systemaccountflow
  </select>
</mapper>