<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.t0724.mapper.SystemDictionaryMapper">
  <resultMap id="BaseResultMap" type="com.bdqn.t0724.model.SystemDictionary">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from systemdictionary
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bdqn.t0724.model.SystemDictionary">
    insert into systemdictionary (id, sn, title, 
      intro)
    values (#{id,jdbcType=BIGINT}, #{sn,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{intro,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bdqn.t0724.model.SystemDictionary">
    update systemdictionary
    set sn = #{sn,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, sn, title, intro
    from systemdictionary
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, sn, title, intro
    from systemdictionary
  </select>
</mapper>